{#
 |------------------------------------------------------------------------------
 | Accordions Block Template
 |------------------------------------------------------------------------------
#}

{# Format the ID string #}
{% if block.customId|length %}
    {% set customId = ' id=' ~ block.customId %}
{% else %}
    {% set customId = '' %}
{% endif %}

<div{{ customId }} class="accordion {{ block.customClass }}">
    {% for item in block.accordionItems.all() %}
        <details class="acc-group">
            <summary class="wb-toggle tgl-tab" data-toggle='{"parent": ".accordion", "group": ".acc-group"}'>{{ item.summary }}</summary>
            <div class="tgl-panel">{{ item.panelContent }}</div>
        </details>
    {% endfor %}
</div>