{#
 |------------------------------------------------------------------------------
 | Alert Block Template
 |------------------------------------------------------------------------------
#}

{# Format the ID string #}
{% if block.customId|length %}
    {% set customId = ' id=' ~ block.customId %}
{% else %}
    {% set customId = '' %}
{% endif %}

<section{{ customId }}  class="alert {{ block.alertType }}{% if block.customClass|length %} {{ block.customClass }}{% endif %}">
    {{ block.richText }}
</section>