{#
 |------------------------------------------------------------------------------
 | Link List Block Template
 |------------------------------------------------------------------------------
#}

{# Format the ID string #}
{% if block.customId|length %}
    {% set customId = ' id=' ~ block.customId %}
{% else %}
    {% set customId = '' %}
{% endif %}

<ul{{ customId }}{% if block.customClass|length %} class="{{ block.customClass }}"{% endif %}>
    {% for item in block.linkList.all() %}
        <li>
            {{ item.linkItem.link }}
        </li>
    {% endfor %}
</ul>