{#
 |------------------------------------------------------------------------------
 | Rich Text Block Template
 |------------------------------------------------------------------------------
#}

{# Format the ID string #}
{% if block.customId|length %}
    {% set customId = ' id=' ~ block.customId %}
{% else %}
    {% set customId = '' %}
{% endif %}

{# Block output #}
<div{{ customId }}{% if block.customClass|length %} class="{{ block.customClass }}"{% endif %}>
    {{ block.richText|typogrify|raw }}
</div>