{#
 |------------------------------------------------------------------------------
 | Social Follow Block Template
 |------------------------------------------------------------------------------
#}

<section class='followus'>
    <h2>{{ 'Follow:'|t }}</h2>
    <ul>
        <li><a class='twitter' href='https://twitter.com/School_GC' rel='external' title='Twitter'><span class='wb-inv'>Twitter</span></a></li>
        <li><a class='youtube' href='https://www.youtube.com/user/MySchoolMonEcole' rel='external' title='Youtube'><span class='wb-inv'>YouTube</span></a></li>
        <li><a class='linkedin' href='https://www.linkedin.com/company/canada-school-of-public-service?trk=fc_badge' rel='external' title='LinkedIn'><span class='wb-inv'>LinkedIn</span></a></li>
    </ul>
</section>
