{% extends '_layout/default' %}

{% block page %}
    {% include '_shared/header' %}
    <main property="mainContentOfPage">

        <h1>{{ 'Work in progress...'|t }}</h1>

        {% include '_shared/pagedetails' %}
    </main>
    {% include '_shared/footer' %}
{% endblock %}